@tailwind base;
html {
  scroll-behavior: smooth;
}
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-text: rgb(49, 49, 49); /*8d8d8d*/
    --color-light: rgb(245, 245, 245);
    --color-success: rgb(0, 200, 81);
    --color-info: rgb(51, 181, 229);
    --color-warn: rgb(255, 187, 51);
    --color-error: rgb(254, 78, 78);

    --color-background: rgb(255, 255, 255);
    --color-primary: rgb(20, 168, 0);
    --color-secondary: rgb(29, 67, 84);
    --color-title: rgb(54, 54, 54);
    --color-secondary-on: rgb(224, 224, 224);
    --color-surface: rgb(247, 245, 235);
    --color-surfaceDark: rgb(17, 20, 36);
    --color-surfaceTwo: rgb(245, 71, 73);
    --color-surfaceThree: rgb(87, 101, 251);
    --color-surfaceFour: rgb(242, 243, 249);
    --color-surfaceFive: rgb(2, 200, 240);
  }
  /* --color-text: rgb(141,141,141); 8d8d8d */
  :root[class="dark"] {
    --color-text: rgb(144, 150, 156);
    --color-light: rgb(245, 245, 245);
    --color-success: rgb(0, 200, 81);
    --color-info: rgb(51, 181, 229);
    --color-warn: rgb(255, 187, 51);
    --color-error: rgb(254, 78, 78);

    --color-background: rgb(7, 10, 27);
    /* --color-background: rgb(18, 18, 18); */
    --color-primary: rgb(20, 168, 0);
    --color-secondary: rgb(29, 67, 84);
    --color-title: rgb(255, 255, 255);
    --color-secondary-on: rgb(224, 224, 224);
    --color-surface: rgb(17, 20, 36);
    --color-surfaceTwo: rgb(245, 71, 73);
    --color-surfaceThree: rgb(87, 101, 251);
    --color-surfaceFour: rgb(242, 243, 249);
    --color-surfaceFive: rgb(2, 200, 240);
  }
  /* importing font css */
  @import url("font.css");

  @font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins-Light.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins-Black.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }
}
.fill-green-200 {
  fill: #bbf7d0 !important;
}
.fill-red-200 {
  fill: #fecaca !important;
}
.max-w-screen-2xl {
  max-width: 90% !important;
}
p,
button {
  /* font-size: 18px; */
  /* line-height: 30px; */
  font-family: "Poppins", Barlow, Mulish, sans-serif;
  /* font-family: "Ubuntu", Poppins, Mulish, sans-serif; */
}
a {
  text-decoration: none;
}
::-moz-selection {
  /* Code for Firefox */
  color: var(--color-light);
  background: var(--color-primary);
}

::selection {
  color: var(--color-light);
  background: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Poppins", Barlow, Mulish, sans-serif !important;
}

html {
  @apply text-primary;
}

.blogSingle h1, .blogSingle h2, .blogSingle h3, .blogSingle h4, .blogSingle h5, .blogSingle h6 {
  margin-top: 32px !important;
} 

.blogSingle p {
  font-size: 18px !important;
  line-height: 36px !important;
  margin-bottom: 32px !important;
}

.blogSingle iframe {
  width: 100%;
  height: 56.25vw;
  max-height: calc(800px / 16 * 9);
  margin-bottom: 32px !important;
}

/* .bannerBg{
  background-image: url('/images/homeBannerBgSurface.svg');
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: repeat;
} */

/*
Text:
Poppins - 400×
Size 18px
Line Height 28px
Color #363636


Card title:
Poppins - 700×
Size 27px, Line Height 42px
Color #363636
- font-bold text-3xl

Article Title:
Size 36px, Line Height 45px
- text-4xl md:text-5xl

Section title:
Poppins - 700×
Size 48px, Line Height 60px
Color #363636
- text-4xl md:text-5xl

Banner Title:
Poppins - 700×
Size 60px, Line Height 75px
Color #363636


*/
